h1, h2, h3, h4, h5, h6, ul, body {
    margin: 0;
    padding: 0;
}




.subtitle {
    
}

.btn1 {
    @include btn(220px, $primary-2, 50px, $font-semibold);
    text-transform: uppercase;
    &:hover{
        background-color: $pr2-light-1;
    }
    &:disabled{
        background-color: $pr4-light-2;
    }
}
.btn2 {
    @include btn(280px, $primary-1, 50px, $font-semibold);
  
    &:hover{
        background-color: $pr1-light-1;
    }
    &:disabled{
        background-color: $pr4-light-2;
    }
}
.btn3 {
    @include btn(220px, $primary-1, 50px, $font-semibold);

    &:hover{
        background-color: $pr1-light-1;
    }
    &:disabled{
        background-color: $pr4-light-2;
    }
}
.btn4 {
    @include btn(220px, $light, 50px, $font-semibold, 1px solid $primary-2, $primary-2);
    text-transform: uppercase;
    &:hover{
        background-color: $pr2-light-1;
        color: $light;
    }
    &:disabled{
        background-color: $pr4-light-2;
        color: $light;
    }
}
.btn5 {
    @include btn(220px, $light, 50px, $font-semibold, 1px solid $primary-1, $primary-1);
    &:hover{
        background-color: $pr1-light-1;
        color: $light;
    }
    &:disabled{
        background-color: $pr4-light-1;
        color: $light;
    }
}